.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#wrapper {
  display: flex;
  flex-direction: column;
}

#map {
  height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'K2D', sans-serif;
}

.header {
  background: #96B896;
  color: #F6F3DB;
  padding: 5px 10px;
  z-index: 3;
}

h1 {
  margin: 0;
  text-align: center;
}

.main {
  width: 100%;
}

#sidebar {
  min-height: 100%;
  width: 20vw;
  padding: 10px 30px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: #F6F3DB;
}

#sidebar i {
  margin-top: 50px;
  color: #B4CBB3;
  position: absolute;
  right: 5px;
}

.menu {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

input {
  margin-right: 1em;
  position: absolute;
  top: 2em;
  right: 5px;
}

ul {
  padding: 0;
}

ul li {
  color: #96B896;
  border-left: solid 6px #B4CBB3;
  border-bottom: solid 1px #dadada;
  background: #F6F3DB;
  margin-bottom: 5px;
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;
}

.venue-name {
  font-weight: bold;
  color: #D46565;
}